.center {
    text-align: center;
}

.alert-fixed {
    top: 0;
    left: 0;
    right: 90%;
}

.server-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 196px;
    background-color: #4f545c;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
}

.icon {
    margin-bottom: 50%;
    margin-left: 25%
}

.sidebar a {
    display: block;
    color: inherit;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #2A9FD6;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

hr {
    clear: both;
    display: block;
    width: 96%;
    height: 1px;
    background-color: #181818;
}

.span-server-info {
    color: #ffffff;
}

.container-bg {
    background-color: #212121;
    border-radius: 10px;
}

.container-bg-box {
    background-color: #303030;
    margin-top: 12px;
    margin-right: 12px;
    padding: 4%;
    height: 90%;
    border-radius: 8px;
}

.zoom-img {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom-img:hover {
    transform: scale(2.0);
}

.zoom-div {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom-div:hover {
    transform: scale(1.01);
}