{% extends 'base.html' %}
{% set active_page = "admin_servers" %}

{% block title %}User Management | PyBot Admin{% endblock %}

{% block content %}
    <div class="jumbotron center">
        <h1 class="display-3">User Management</h1>
        <div class="container" style="background-color: #232323">
            <div class="row">
                {% if users %}
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Username</th>
                            <th scope="col">Discriminator</th>
                            <th scope="col">ID</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr onclick="window.location='/admin/users/{{ user['id'] }}'">
                                    <th style="width: 10%;"><img style="width: 90%" src="{{ user['avatar_url'] }}" alt="avatar"></th>
                                    <th>{{ user["username"] }}</th>
                                    <th>{{ user["discriminator"] }}</th>
                                    <th>{{ user["id"] }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <!-- Flash error maybe -->
                    <p>error</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}