{% extends 'base.html' %}
{% include "modal.html" %}
{% set active_page = "admin_modules" %}

{% block title %}Module Management | PyBot Admin{% endblock %}

{% block content %}
    <div class="jumbotron center">
        <h1 class="display-3">Global Module Management</h1>
        <div class="container">
            {% if modules %}
                <div class="row"
                     style="padding-bottom: 12px; background-color: #212121; border-radius: 4px;">
                    {% for module_name in modules %}
                        {% set module = modules[module_name] %}
                        <div class="col-md-6">
                            <div class="col-md-12 container-bg-box">
                                <div class="row">
                                    <div class="col-6">
                                        <p style="text-align: left"><i class="fas {{ module["icon"] }}"></i> {{ module["name"] }}
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox"
                                                   class="custom-control-input admin-module-switch"
                                                   id="{{ module_name }}Switch" {{ "checked" if module["enabled"] }}
                                                   data-modulename="{{ module_name }}">
                                            <label class="custom-control-label"
                                                   for="{{ module_name }}Switch"></label>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ module["description"] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <!-- Flash error maybe -->
                <p>modules not passed</p>
            {% endif %}
        </div>
    </div>
{% endblock %}