<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap-v4-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/noty.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
    {% block customcss %}{% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}

    <footer class="center">Copyright © 2019 Puyodead1 & Puyodead1 Development</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/global.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/noty.js') }}"></script>
    {% block customjs %}{% endblock %}
    {% include 'messages.html' %}
</body>
</html>