{% extends 'base.html' %}
{% set active_page = "dashboard" %}

{% block title %}Dashboard | PyBot{% endblock %}

{% block content %}
    {% if session["user"] %}
        <div class="jumbotron center">
            <h1 class="display-3">Your Servers</h1>
            <p class="lead">Choose a server to manage</p>
            <hr class="my-4">
            {% with guilds = session["guilds"] %}
                {% if guilds %}
                    <div class="row">
                        {% for guild in guilds %}
                            {% if guild["owner"] == True or guild["permissions"] == 2147483647 %}
                                <div class="server-wrapper">
                                    <a href="/manage/{{ guild["id"] }}" class="server-card"
                                       style="background-image: {% if guild["icon"] %}url('https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png?size=256'){% else %}url('https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png'){% endif %}"><p>{{ guild["name"] }}</p></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- Maybe flash an error message here -->
                {% endif %}
            {% endwith %}
        </div>
    {% else %}
        <div class="jumbotron center">
            <h1 class="display-3">You are not logged in</h1>
            <p class="lead">Login to manage your servers</p>
        </div>
    {% endif %}
{% endblock %}