{% extends 'base.html' %}
{% set active_page = "home" %}

{% block title %}Home | PyBot{% endblock %}

{% block content %}
    <div class="jumbotron center">
        <h1 class="display-3">PyBot</h1>
        <p class="lead">Python Discord Bot</p>
        <hr class="my-4">
        <p>PyBot is a multi-purpose Discord bot written in Python, it uses Discord.py as a wrapper for the discord API and provides a wide range of commands ranging from Moderation to Music and Games.<br>PyBot also comes with Extensions, Extensions allow bot owners to extend PyBots functionality quickly and easily without modifying PyBot's source code.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://discordapp.com/api/oauth2/authorize?client_id=644927241855303691&permissions=8&scope=bot" role="button" target="_blank">Invite PyBot</a>
        </p>
        <iframe src="https://canary.discordapp.com/widget?id=644927766197698590&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
{% endblock %}