{% extends 'base.html' %}
{% set active_page = "login" %}

{% block customcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">{% endblock %}
{% block title %}Login | PyBot{% endblock %}

{% block content %}
    <div class="jumbotron center">
        <h1 class="display-5">Login to manage servers</h1>
        <a class="btn btn-outline-primary" href="https://discordapp.com/api/oauth2/authorize?client_id=644927241855303691&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fapi%2Fv1%2Flogin%2Fcallback&response_type=code&scope=identify%20email%20guilds">Login with <img src="https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png" alt="discord logo" class="discord-logo"/></a>
    </div>
{% endblock %}