{% extends "base.html" %}
{% set active_page = "manage_modules" %}

{% block title %}Server Modules | PyBot{% endblock %}

{% block content %}
    {% if session["user"] %}
        <div class="container-fluid sidebar">
            <div class="row">
                {% include "sidebar.html" %}
                <div class="col" id="main">
                    <div class="jumbotron center">
                        <h1 class="display-3">Main Content</h1>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron center">
            <h1 class="display-3">You are not logged in</h1>
            <p class="lead">Login to manage your servers</p>
        </div>
    {% endif %}
{% endblock %}