{% extends "base.html" %}
{% set active_page = "manage_modules" %}

{% block title %}Server Modules | PyBot{% endblock %}

{% block content %}
    {% if session["user"] %}
        {% if guild %}
            {% if modules %}
                <input type="hidden" id="server-id" data-serverid="{{ guild["id"] }}">
                <div class="container-fluid sidebar">
                    <div class="row">
                        {% include "sidebar.html" %}
                        <div class="col" id="main">
                            <div class="jumbotron center">
                                <h1 class="display-3">Manage Modules</h1>
                                <div class="container container-bg" style="padding-top: 12px">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p>Total Modules: <span class="span-server-info">{{ modules|length }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm">
                                            <p>Enabled Modules: <span
                                                    class="span-server-info">{{ enabled_modules }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm">
                                            <p>Disabled Modules: <span
                                                    class="span-server-info">{{ disabled_modules }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" style="padding-top: 5%">
                                    <div>
                                        <div class="row"
                                             style="padding-bottom: 12px; background-color: #212121; border-radius: 4px;">
                                            {% for module_name in modules %}
                                                {% set module = modules[module_name] %}
                                                <div class="col-md-6">
                                                    <div class="col-md-12 container-bg-box">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <p style="text-align: left"><i
                                                                        class="fas {{ module["icon"] }}"></i> {{ module["name"] }}
                                                                </p>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox"
                                                                           class="custom-control-input module-switch"
                                                                           id="{{ module_name }}Switch" {{ "checked" if guild["modules"][module_name] }}
                                                                           data-modulename="{{ module_name }}">
                                                                    <label class="custom-control-label"
                                                                           for="{{ module_name }}Switch"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p>{{ module["description"] }}</p>
                                                        {% if module_name == "counting_channels" %}
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="countChannelsSmartAction">
                                                                <label class="custom-control-label" for="countChannelsSmartAction">{{ "If checked, a new counting channel will be created." if not guild["modules"]["counting_channels"] else "If checked, the current counting channel will be deleted." }}</label>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Modules not passed!</p>
            {% endif %}
        {% else %}
            <p>Error! Guild was not passed!</p>
        {% endif %}
    {% else %}
        <div class="jumbotron center">
            <h1 class="display-3">You are not logged in</h1>
            <p class="lead">Login to manage your servers</p>
        </div>
    {% endif %}
{% endblock %}